.App {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #e9aeae;
}

h1 {
  text-shadow: 2px 2px rgb(255, 255, 255);
  font-size: 40px;
}

.container1 {
  margin-top: 20px;
}

.container2,
.container3 {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #f115f15b;
  background-color: #f7f2f6d7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container4{
  margin-top: 20px;
  padding: 20px;
}

#alertSinNombre {
  color: #881212;
  font-weight: bold;
  font-size: 20px;
  
}

#alertConNombre {
  color: #881212;
  font-weight: bold;
  font-size: 25px;
}

#ganaRonda,
#Marcador,
#MarcadorUs,
#MarcadorPc {
  font-weight: bold;
}

#ronda p {
  font-size: 18px;
  margin: 10px 0;
}

#botonNombre,
#reiniciar {
    background-color: rgba(234, 21, 21, 0.493);
    color: aliceblue;
    height: 27px;
    width: 150px;
    font-family: Arial, sans-serif;
    font-size: medium;
    font-weight: 200;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 2s;
}

#botonNombre:hover,
#reiniciar:hover {
    background-color: rgb(234, 21, 21);
}

#button1,
#button2,
#button3 {
    border: none;
    border-radius: 100%;
    background-color: rgb(216, 148, 148);
    transition: all 0.2s;
    padding-top: 0.4%;
}

#button1:hover,
#button2:hover,
#button3:hover {
    cursor: pointer;
    transform: scale(1.7);
    background-color: rgba(189, 100, 27, 0.349);
}

img {
  border-radius: 50%;
  width: 100x;
  height: 120px;
}
#nombre{
  height: 20px;
}